body {
  font-family: 'Raleway', sans-serif;
  color: #5B4A44;
  text-align: center;
  margin: 0 auto;
}

html{
    background-color: #F3E5DA;
}

.game_name {
  margin: 0 auto;
}

.game_name h1 {
  font-size: 3.5vw;
  font-weight: bold;
  margin: 20px auto auto 0;
}

.byline h2 {
  font-size: 2vw;
  font-style: italic;
  margin: 0 auto;
}

.main_box {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 430px;
  margin: 0 auto;
  margin-top: 5px;
}

.left {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  width: 400px;
  height: 430px;
}

.human {
  width: 250px;
  margin: 5% auto;
  background-color: #D8E8DE;
  border: 1px solid grey;
  border-radius: 3px;
}

.human p {
  font-size: 1.8vw;
  margin: 0 auto;
}

.hand1 {
width: 350px;
margin-top: 5%;
margin-left: auto;
margin-right: auto;
margin-bottom: 0;
}

.hands {
  max-width:100%;
  height:auto;
}

.right {
  width: 400px;
  height: 430px;
}

.pc {
  width: 250px;
  margin: 5% auto;
  background-color: #D8E8DE;
  border: 1px solid grey;
  border-radius: 3px;
}

.pc p {
  font-size: 1.8vw;
  margin: 0 auto;
}

.hand2 {
  width: 350px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  }

.choice {
  margin-bottom: 10px;
}
.choice p {
  font-size: 2vw;
  margin: 0 auto;
}

.turns {
  margin: 0 auto;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.turn {
  max-width:60%;
  height:auto;
}

.result p {
  margin: 10px auto auto 0;
}
.result_final {
  font-size: 2.5vw;
  margin: 0 auto;
}
.result_final p {
  margin: 10px auto;
}

button {
  font-family: 'Raleway', sans-serif;
  font-size: 2vw;
  color: #5B4A44;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #D8E8DE;
  width: 250px;
}